* { margin: 0; padding: 0; }

html
{
	color: #999999;
	background-color: #2e333b;
	font: normal 76% "Trebuchet MS", "Lucida Grande", Verdana, Sans-Serif;
}

/* Links */

a { text-decoration: none; font-weight: bold; border-bottom: 1px dotted #333333; }

a:link { color: #1f67b1; border-bottom-color: #1f67b1; } 

a:visited { color: #333333; border-bottom-color: #333333; }

a:hover, a:active { color: #ad0004; border-bottom-color: #ad0004; border-bottom-style: solid; }

/* Headings */

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2em; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4, h5, h6 { font-size: 20px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: normal; border-bottom-width: 0; }

/* Lists */

ul, ol
{
	margin: 1em 0;
	line-height: 1.8em;
}

ol li { margin-left: 2.5em; }

ul { padding-left: 2em; list-style-type: square; }

/* Images */

.drop-shadow
{
	float: left;
	position: relative;
	margin: 10px 3px 0 10px !important;
	margin: 10px 3px 0 5px; 
	background: transparent url(images/drop_shadow.png) bottom right no-repeat !important;
	background: transparent url(images/drop_shadow_ie.gif) bottom right no-repeat;
}

.drop-shadow img
{
	padding: 4px;
	display: block;
	position: relative;
	margin: -6px 6px 6px -6px;
	background-color: #ffffff;
	border: 1px solid #a9a9a9;
}

.drop-shadow p
{
	right: 11px;
	bottom: 0px;
	color: #f7f7f7;
	padding: 5px 10px;
	position: absolute; 
	background-color: #2e333b;
	border-top: 1px solid #111111;
}

/* Other Html Elements */

blockquote
{
	clear: both;
	padding: 1em;
	margin: 2em 3em;
	font-size: 0.9em;
	line-height: 1.7em;
	background-color: #f7f7f7;
	border: 1px solid #a9a9a9;
	background: #f7f7f7 url(images/right_quotes.png) 95% 85% no-repeat;
}

code { font-family: Consolas, Monaco, Verdana, "Courier New"; font-size: .93em; }

abbr, acronym, cite { border-bottom: 1px dotted #333333; cursor: help; }

ins, del
{ 
	padding-left: 18px; 
	background-repeat: no-repeat;
	background-position: left center; 
}

ins { font-weight: bold; text-decoration: none; background-image: url(images/add.gif); }

del { background-image: url(images/delete.gif); }

/* Structure */

body
{
	width: 850px;
	color: #333333;
	margin: 0 auto;
	background-color: #c6c6c6;
}

#header
{
	float: left;
	clear: both;
	width: 100%;
	background-color: #4f555d;
}

#wrapper
{
	float: left; 
	width: 100%;
	clear: both;
	line-height: 1.6em;
	background: #e2e2e2 url(images/wrapper_bg_lite.png) top left repeat-y; 
}

#content
{
	float: left;
	width: 450px;
	overflow: hidden;
}

#sidebar
{
	float: left; 
	width: 200px;
	padding: 10px 0;
	overflow: hidden;
	background-color: #ededed;
}

#sidenotes
{
	float: left;
	width: 200px;
	overflow: hidden;
	padding: 10px 0 0;
	background-color: #f7f7f7; 
}

#footer 
{
	clear: both;
	float: left;
	width: 100%;
	color: #999999;
	background-color: #4f555d;
}

/* Header */

#header h1
{
	width: 30%;
	float: left; 
	color: #ffffff; 
	margin: 0 15px;
	padding: 15px 0; 
	font-size: 1.6em; 
	/*text-indent: -9999px;*/
	/*text-transform: lowercase;*/  
	background: transparent url(images/logo.gif) left center no-repeat;
}

/* Navigation */

#header ul { list-style-type: none; margin: 0 10px; padding: 0; float: right; }

#header li  { float: left; }

#header a
{
	float: left;
	color: #ededed; 
	display: block;
	padding: 10px 8px 0;
	border-bottom-width: 0;
}

#header a:hover { color: #ffffff; }

#header li.active a
{
	color: #ffffff;
	text-decoration: underline;
}

/* Content */

.post { padding: 10px 20px; }

h2.post-title { margin-bottom: 15px; }

.post-content p { margin-top: 10px; margin-bottom: 10px; }

p.post-footer
{
	background-color: #dadada;
	margin-bottom: 10px; 
	margin-top: 25px;
	padding: 5px 10px; 
	color: #dadada;
}

p.post-footer strong { color: #333333; padding-right: 10px; /*border-right: 1px solid #a9a9a9;*/ }

p.post-footer em { font-style: normal; padding-right: 10px; border-right: 1px solid #a9a9a9; }

p.post-footer a { border-bottom-width: 0; }

a.more { border-bottom-width: 0; }

/* Sidebar */

#sidebar h3 { padding: 0 10px;font-size: 1.1em; font-weight:bold; }

#sidebar ul { padding-left: 35px; line-height: 2.0em; }

#sidebar li { list-style-image: url(images/pushpin.gif); }

/* Sidenotes */

#sidenotes h3 { padding: 0 10px; }

#sidenotes ul { margin: 10px 0 0; padding: 0; list-style-type: none; }

#sidenotes a
{
	display: block;
	color: #333333;
	margin-top: -1px;
	padding: 5px 10px;
	font-weight: normal;
	border-top: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
}

#sidenotes a:hover { background-color: #f9f9f9; }

#sidenotes a strong
{
	display: block;
}

#sidenotes a em
{
	display: block;
}

/* Footer */

#footer .block { float: left; width: 210px; padding: 10px 0; }

#footer .block h3 { padding: 0 10px 5px 13px; font-size: 14px; text-transform: uppercase; letter-spacing: 0.1em; }

#footer .block ul { padding: 0 10px 20px; list-style-type: none; }

#footer .block ul a
{
	display: block;
	margin-top: -1px;
	padding: 5px 10px;
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
}

#footer .block ul a:hover, #footer .block ul a:active 
{
	background-color: #2e333b;
}

#footer p { padding: 0 15px; }

#footer .block p { margin: 15px 0; }

#footer a { color: #999999; border-bottom-color: #666666; }

#footer a:hover, #footer a:active { color: #c5c5c5; border-bottom-color: #999999; }

#footer p.copyright { clear: both; background-color: #3f444c;  padding: 10px 15px; }