* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    color: #999999;
    font: 100% "Trebuchet MS","Lucida Grande",Verdana,Sans-Serif;
}
a {
   
    font-weight: bold;
    text-decoration: none;
}

h3 {
    font-size: 16px;
    color: #580000;
	padding: 15px 15px 15px 15px;
}
h4, h5, h6 {
    font-size: 20px;
}

ol li {
    margin-left: 2.5em;
}
ul {
    list-style-type: square;
    padding-left: 2em;
}

body {
    background-color: #F7F4F5;
    color: #333333;
    margin: 0 auto;
    width: 950px;
}
#header {
    background-color: #EDE9EA;
    clear: both;
    float: left;
    width: 100%;
}
#wrapper {
    clear: both;
    float: left;
    line-height: 1.6em;
    width: 100%;
	 background-color: #F7F4F5;
}
#content {
    float: left;
    overflow: hidden;
    
}
#sidebar {
    background-color: #E6D7DC;
    padding: 10px 10px 10px 10px;
    border-left-style:dotted;
    text-align:top;
}

#header h1 {
    color: 	#500000;
    text-align:center;
    font-size: 26px;
    padding: 25px 25px 25px 25PX;
}

#header h4 {
    color: black;
    text-align:center;
    font-size: 16px;
	padding: 25px 25px 25px 25PX;

    
}

#header td[name="button"]{
  background-color: #452020;
  border-style: outset;
  border-width: 1px;
}


#header td[name="button"] a:link {
    color: white;
    font-size: 16px;
    padding: 10px;
}
.post {
    padding: 10px 20px;
   background-color: #F7F4F5;
}
h2.post-title {
    margin-bottom: 15px;
}
.post-content p {
    margin-bottom: 10px;
    margin-top: 10px;
}

#sidebar ul {
    line-height: 2em;
    padding-left: 35px;
}
.bottomline {
    border-bottom-style: dotted;
    border-bottom-width: thin;
}

span[name="date"]{
	font-weight: bold;
}

table[name="buttons"]{ 
    margin-left: auto;
    margin-right: auto;
}